/*===================================================================================*/
/*	BUTTONS
/*===================================================================================*/

#buttons {
  .btn {
    margin: 5px 3px;
  }
  .btn-wrapper {
    margin: 30px 0;
  }
}

.btn {
  color: #fff !important;
  background: $primary;
  padding: 11px 20px 13px;
  display: inline-block;
  margin: 15px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}

.btn-small {
  padding: 5px 13px 6px;
  font-size: 13px;
}

.btn-large {
  padding: 14px 26px 16px;
  font-size: 15px;
}

.btn {
  &.btn-green {
    background: $success;
  }
  &.btn-blue {
    background: $primary;
  }
  &.btn-red {
    background: $danger;
  }
  &.btn-pink {
    background: $pink;
  }
  &.btn-purple {
    background: $purple;
  }
  &.btn-orange {
    background: #fd5604;
  }
  &.btn-gray {
    background: $default;
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: $dark-success;
    color: #fff !important;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  }
}

.btn-cta {
  font-size: 32px !important;
  padding: 24px 70px 26px !important;
}
.btn-green {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: $dark-success !important;
  }
}
.txt-btn.green:hover {
  background: none !important;
}

.btn-blue {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #387eaa !important;
  }
}

.btn-red {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #cf4c45 !important;
  }
}

.btn-pink {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #bd78a9 !important;
  }
}

.btn-purple {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #8a4fa2 !important;
  }
}

.btn-orange {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #d94a03 !important;
  }
}

.btn-navy {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #2c3e50 !important;
  }
}

.btn-gray {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #859394 !important;
  }
}

.tint-bg .btn {
  background: #fff !important;
  color: $success !important;
  &:hover {
    background: #e9e9e9 !important;
    color: $back-primary-color !important;
  }
}

.btn {
  &.share-facebook {
    background: #3d5b9b !important;
    &:hover {
      background: #334c8e !important;
    }
  }
  &.share-twitter {
    background: #5aa8cd !important;
    &:hover {
      background: #499ac8 !important;
    }
  }
  &.share-googleplus {
    background: #3b3b3b !important;
    &:hover {
      background: #2e2e2e !important;
    }
  }
  &.share-pinterest {
    background: #c53942 !important;
    &:hover {
      background: #bc2d32 !important;
    }
  }
}

h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn {
  margin-left: 15px;
}

.txt-btn {
  font-size: 105%;
  font-weight: 700;
  &:after {
    font-family: "fontello";
    font-size: 75%;
    content: "\e846";
    margin-left: 7px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  &:hover:after {
    margin-left: 12px;
  }
}

.btn span > a {
  color: #fff !important;
  border: 0;
}
