/*===================================================================================*/
/*	OWL CAROUSEL
/*===================================================================================*/

.owl-carousel {
  text-align: center;
  cursor: default;
}

.owl-controls {
  display: inline-block;
  position: relative;
  margin-top: 40px;
}

.panel-group {
  .panel .owl-controls {
    margin-top: 25px;
  }
  &.blank .panel .owl-controls {
    margin-top: 40px;
  }
}

.owl-pagination {
  position: relative;
  line-height: 30px;
}

.owl-prev,
.owl-next {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #fff;
  background-color: $back-primary-color;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
}

.owl-prev {
  left: -35px;
}

.owl-next {
  right: -35px;
}

.owl-carousel:hover {
  .owl-prev {
    left: -40px;
    opacity: 0.25;
  }
  .owl-next {
    right: -40px;
    opacity: 0.25;
  }
  .owl-prev:hover,
  .owl-next:hover {
    color: $success;
    opacity: 1;
  }
}

.owl-outer-nav {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    z-index: 0;
  }
  .owl-wrapper-outer,
  .owl-pagination,
  .owl-prev,
  .owl-next {
    z-index: 1;
  }
  .owl-controls {
    position: static;
  }
  .owl-prev {
    left: -65px;
  }
  .owl-next {
    right: -65px;
  }
  &:hover {
    .owl-prev {
      left: -80px;
    }
    .owl-next {
      right: -80px;
    }
  }
}

.owl-ui-md {
  .owl-pagination {
    line-height: 45px;
  }
  .owl-prev,
  .owl-next {
    width: 45px;
    height: 45px;
    font-size: 45px;
  }
  .owl-prev {
    left: -55px;
  }
  .owl-next {
    right: -55px;
  }
  &:hover {
    .owl-prev {
      left: -60px;
    }
    .owl-next {
      right: -60px;
    }
  }
}

.owl-outer-nav.owl-ui-md {
  &:after {
    left: -18%;
    width: 136%;
  }
  .owl-prev {
    left: -85px;
  }
  .owl-next {
    right: -85px;
  }
  &:hover {
    .owl-prev {
      left: -100px;
    }
    .owl-next {
      right: -100px;
    }
  }
}

.owl-ui-lg {
  .owl-pagination {
    line-height: 60px;
  }
  .owl-prev,
  .owl-next {
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: #000;
  }
  .owl-prev {
    left: -75px;
  }
  .owl-next {
    right: -75px;
  }
  &:hover {
    .owl-prev {
      left: -80px;
    }
    .owl-next {
      right: -80px;
    }
  }
}

.owl-outer-nav.owl-ui-lg {
  &:after {
    left: -22%;
    width: 144%;
  }
  .owl-prev {
    left: -105px;
  }
  .owl-next {
    right: -105px;
  }
  &:hover {
    .owl-prev {
      left: -120px;
    }
    .owl-next {
      right: -120px;
    }
  }
}

.owl-inner-nav {
  .owl-controls {
    position: static;
  }
  .owl-prev {
    left: 45px;
  }
  .owl-next {
    right: 45px;
  }
  &:hover {
    .owl-prev {
      left: 30px;
    }
    .owl-next {
      right: 30px;
    }
  }
}

.owl-outer-nav {
  .owl-prev,
  .owl-next {
    bottom: 70px;
  }
}

.owl-inner-nav {
  .owl-prev,
  .owl-next {
    bottom: 70px;
  }
}

.owl-outer-nav.owl-ui-md {
  .owl-prev,
  .owl-next {
    bottom: 85px;
  }
}

.owl-inner-nav.owl-ui-md {
  .owl-prev,
  .owl-next {
    bottom: 85px;
  }
}

.owl-outer-nav.owl-ui-lg {
  .owl-prev,
  .owl-next {
    bottom: 100px;
  }
}

.owl-inner-nav.owl-ui-lg {
  .owl-prev,
  .owl-next {
    bottom: 100px;
  }
}

.owl-inner-pagination {
  .owl-pagination,
  .owl-prev,
  .owl-next {
    margin-top: -40px;
    top: -60px;
  }
  &.owl-ui-md {
    .owl-pagination,
    .owl-prev,
    .owl-next {
      margin-top: -50px;
      top: -65px;
    }
  }
  &.owl-ui-lg {
    .owl-pagination,
    .owl-prev,
    .owl-next {
      margin-top: -60px;
      top: -75px;
    }
  }
  &.owl-outer-nav {
    .owl-prev,
    .owl-next {
      margin: auto;
      top: 0;
      bottom: 43px;
    }
  }
  &.owl-inner-nav {
    .owl-prev,
    .owl-next {
      margin: auto;
      top: 0;
      bottom: 43px;
    }
  }
  .owl-pagination {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0;
  }
  &:hover .owl-pagination {
    opacity: 1;
  }
  &.owl-inner-nav .owl-pagination,
  &.owl-outer-nav .owl-pagination {
    top: -45px;
  }
  &.owl-inner-nav.owl-ui-md .owl-pagination,
  &.owl-outer-nav.owl-ui-md .owl-pagination {
    top: -50px;
  }
  &.owl-inner-nav.owl-ui-lg .owl-pagination,
  &.owl-outer-nav.owl-ui-lg .owl-pagination,
  &.owl-inner-nav:hover .owl-pagination,
  &.owl-outer-nav:hover .owl-pagination {
    top: -60px;
  }
  &.owl-inner-nav.owl-ui-md:hover .owl-pagination,
  &.owl-outer-nav.owl-ui-md:hover .owl-pagination {
    top: -65px;
  }
  &.owl-inner-nav.owl-ui-lg:hover .owl-pagination,
  &.owl-outer-nav.owl-ui-lg:hover .owl-pagination {
    top: -75px;
  }
}

#owl-main {
  .item {
    height: 61vh;
    background-color: #fff;
    background-position: center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 480px;
  }
  &.height-md .item {
    height: 61vh;
  }
  &.height-lg .item {
    height: 90vh;
  }
  .container {
    display: table;
    height: 100%;
  }
  .caption {
    display: table-cell;
    &.vertical-center {
      vertical-align: middle;
      padding-bottom: 3vh;
    }
    &.vertical-top {
      vertical-align: top;
      padding-top: 8vh;
    }
    &.vertical-bottom {
      vertical-align: bottom;
      padding-bottom: 14vh;
    }
    &.text-center {
      padding-left: 10%;
      padding-right: 10%;
    }
    &.text-left {
      padding-right: 20%;
    }
    &.text-right {
      padding-left: 20%;
    }
    .h1,
    h1,
    p,
    div {
      position: relative;
    }
    .h1 span,
    h1 span {
      padding: 0.15em 0;
      line-height: 160%;
    }
    .light-bg,
    .medium-bg,
    .dark-bg,
    .tint-bg {
      background: none;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .h1.light-bg span,
    h1.light-bg span,
    p.light-bg span {
      background: #fff;
      box-shadow: -0.5em 0 0 #fff, 0.5em 0 0 #fff;
    }
    .h1.medium-bg span,
    h1.medium-bg span,
    p.medium-bg span {
      background: #a3b1bf;
      box-shadow: -0.5em 0 0 #a3b1bf, 0.5em 0 0 #a3b1bf;
    }
    .h1.dark-bg span,
    h1.dark-bg span,
    p.dark-bg span {
      background: $back-primary-color;
      box-shadow: -0.5em 0 0 $back-primary-color, 0.5em 0 0 $back-primary-color;
    }
    .h1.tint-bg span,
    h1.tint-bg span,
    p.tint-bg span {
      background: $success;
      box-shadow: -0.5em 0 0 $success, 0.5em 0 0 $success;
    }
  }
  .owl-controls {
    display: block;
    position: static;
    margin-top: -47px;
  }
  .owl-pagination {
    background: #fff;
    line-height: inherit;
    position: relative;
    bottom: -25px;
    padding: 10px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .owl-prev,
  .owl-next {
    bottom: 0;
    background-color: #fff;
  }
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-pagination .owl-page {
  span {
    display: block;
    width: 15px;
    height: 15px;
    background: $back-primary-color;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  &.active span,
  &:hover span {
    background: $success;
  }
}

.owl-item-gap .item {
  margin: 0 15px;
}

.owl-item-gap-sm .item {
  margin: 0 10px;
}

/* preloading images */

.owl-item.loading {
  min-height: inherit;
  background: none;
}

// From responsive

@media (max-width: 767px) {
  .owl-buttons {
    display: none;
  }
  .caption [class*="fadeInDown-"] span {
    background: #506a85 !important;
    box-shadow: -0.5em 0 0 #506a85, 0.5em 0 0 #506a85 !important;
  }
  #owl-main {
    height: 61vh;
    .item,
    &.height-md .item,
    &.height-lg .item {
      height: 88vh;
      // height: 61vh;
    }
  }
  #hero {
    .h1,
    h1 {
      font-size: 38px;
      line-height: 115%;
      letter-spacing: 0.031em;
    }

    p {
      font-size: 20px;
      line-height: 135%;
      margin-top: 15px;
    }
    .post-item {
      .h1,
      h1 {
        font-size: 26px !important;
      }
      p {
        font-size: 15px !important;
      }
      .caption.text-center {
        padding-left: 0;
        padding-right: 5%;
      }
    }

    #owl-main .caption h1,
    #owl-main .caption .h1 {
      &.light-bg,
      &.medium-bg,
      &.dark-bg,
      &.tint-bg {
        font-size: 33px;
      }
    }
    .btn {
      margin-top: 25px;
    }
    .btn-large {
      font-size: 18px;
      padding: 12px 30px 15px;
    }
  }
}

@media (min-width: 768px) {
  #owl-main .item {
    max-height: 44vh !important;
  }
  .modal-open {
    .navbar-collapse.stuck {
      padding-right: 32px;
      right: 0;
    }
  }
  .height-xs {
    height: 400px !important;
    min-height: 400px !important;
  }
}
@media (min-height: 1025px) {
  #hero {
    p {
      font-size: 26px;
    }
  }
}

@media (min-width: 768px) and (max-height: 1024px) {
  .height-xs,
  .height-sm,
  #owl-main .item {
    height: 480px;
    max-height: 480px !important;
  }

  #hero {
    h1,
    .h1 {
      font-size: 70px;
      line-height: 115%;
    }
    p {
      font-size: 26px;
      line-height: 135%;
      margin-top: 17px;
    }
    #owl-main .caption h1,
    #owl-main .caption .h1 {
      &.light-bg,
      &.medium-bg,
      &.dark-bg,
      &.tint-bg {
        font-size: 60px;
      }
    }
    .btn {
      margin-top: 35px;
    }
    .btn-large {
      font-size: 18px;
      padding: 15px 35px 17px;
    }
  }
}

@media (min-width: 768px) and (max-height: 768px) {
  .height-xs,
  .height-sm,
  .height-md,
  .height-lg {
    height: 480px;
  }
  .height-xs {
    height: 400px;
  }
  #owl-main {
    .item,
    &.height-md .item,
    &.height-lg .item {
      height: 480px;
    }
  }
}

@media (min-width: 768px) {
  #owl-main .item {
    max-height: 44vh !important;
  }
  .height-xs {
    height: 400px !important;
    min-height: 400px !important;
  }
}
@media (min-height: 1025px) {
  #hero {
    p {
      font-size: 26px;
    }
  }
}
